<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
    <head>
        <title>Balance Inquiry - Banking Application</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h2>Accounts</h2>
            <table class="table table-striped mt-4">
                <thead>
                <tr>
                    <th>Account Number</th>
                    <th>Account Type</th>
                    <th>Balance</th>
                    <th>User</th>
                    <th>Transaction History</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="account:${accounts}">
                        <td th:text="${account.accountNumber}">Account Number</td>
                        <td th:text="${account.type.label}">Account type</td>
                        <td th:text="'RM ' + ${account.balance}">Account Balance</td>
                        <td th:text="${account.user.username}">User</td>
                        <td>
                            <a th:href="@{/transactions/{accountId}(accountId=${account.id})}" class="btn btn-primary">View History</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>