<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Failed Transaction - Banking Application System </title>
</head>
<body>
<div class="container mt-5">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Oops! Something went wrong.</h4>
        <p>We encountered an error while processing your request. Please try again later.</p>
        <hr>
        <p class="mb-0">If the problem persists, contact support.</p>
    </div>
    <a href="/" class="btn btn-primary mt-3">Go to Home</a>
</div>
</body>
</html>