<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Success</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container mt-5">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Success!</h4>
    <p>Successfully Transaction !</p>
    <hr>
  </div>
  <a href="/" class="btn btn-primary mt-3">Go to Home</a>
</div>
</body>
</html>